# /
/log
/*.dump
/ebin
/deps
/.eunit
*.bbl
*.blg
debian/brainly-hive.*
debian/brainly-hive/
debian/files
debian/install
debian/changelog
debian/control
lager.config
docs/revision.tex
include/hive_version.hrl
