%% -*- erlang -*-
{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {src_dirs, ["src", "plugins"]}]}.
{deps, [{lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.0"}}},
        {ranch, ".*", {git, "git://github.com/extend/ranch.git", {tag, "0.8.4"}}},
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.6"}}},
        {jsonx, ".*", {git, "git://github.com/iskra/jsonx.git", "a8381a34d126a93eded62c248989dd0529cd257d"}},
        {jesse, ".*", {git, "git://github.com/alertlogic/jesse.git", "6bdfce3e988239a8878d7bd19877d7e3d46ae7d7"}},
        {folsom, ".*", {git, "git://github.com/boundary/folsom.git", {tag, "0.7.4"}}},
        {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", {tag, "1.0.0"}}},
        {eredis, ".*", {git, "git://github.com/wooga/eredis.git", {tag, "v1.0.5"}}},
        {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.2"}}}
       ]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
